<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    {% endblock head %}
</head>

<body {% if no_navigation %}style="padding-top: 40px;"{% endif %}>
    {% if not no_navigation %}
    <nav>
        <a href="{% if is_static %}index.html{% else %}.{% endif %}">Home</a>
    </nav>
    {% endif %}

    <div id="content">{% block content %}{% endblock content %}</div>
</body>
</html>
